@import "compass/css3";

body {
  background-color: #fff;
  padding: 1em 5%;
}

body, h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

table {
  border-spacing: 5px;
  border-collapse: separate;
}

th, td {
  padding-right: 1em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #33f;
  @include transition(color 0.4s);

  &:hover {
    color: #f33;
  }
}

h1 a {
  color: #555;
}

fieldset {
  border: 2px dotted #ccc;
}

.disclaimer {
  background: #eee;
  color: #666;
  text-transform: uppercase;
  padding: 1em;
}

.button {
  font-size: 1.1em;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  color: #000;
  border: 1px outset #ddd;
  @include border-radius(0.5em);
  @include background-image(linear-gradient(rgba(#fff, 0.9) 0%, rgba(#fff, 0.3) 25%, rgba(#fff, 0) 50%));
  background-color: #beb;
  text-decoration: none;
  @include transition(background-color 0.2s);
  @include box-shadow(2px 2px 4px #bbb);

  &:hover {
    color: #000;
    background-color: #bfb;
  }

  &:active {
    background-color: #3b3;
    @include box-shadow(1px 1px 1px #bbb);
  }
}

.field {
  padding: 0.5em;
}

table.passwords {
  margin: 1em 0;
}

.password {
  background: #eef;
  padding: 0.25em 0.5em;
}

.description {
  font-size: 0.75em;
  line-height: 1.33em;
  color: #666;
}

.progress-bar {
  height: 2em;
  border: 2px solid #666;
  vertical-align: middle;

  .inner {
    height: 100%;
    background: #aaa;
  }
}

.not-ready {
  @include opacity(0.3);
  pointer-events: none;
}

.with-subheading {
  margin-bottom: 0;
}

.subheading {
  margin-top: 0;
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes flash {
  0% { background-color: #ff9; }
  100% { background-color: #fff; }
}


@keyframes flash {
  0% { background-color: #ff9; }
  100% { background-color: #fff; }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
