@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "normalize";


body {
  background-color: #bcd6e8;
  min-width: 320px;
  padding: 0;
  font-size: 14px;
}

body, h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.highlight {
  @include background-image(linear-gradient(rgba(#fff, 0.8) 0%, rgba(#fff, 0.3) 25%, rgba(#fff, 0) 50%));
}

header, footer {
  background-color: #bcd6e8;
  @extend .highlight;
  padding: 10px;
}

header {
  border-bottom: 1px solid #666;
  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 2px;
        a {
          display: inline-block;
          padding: 0.25em 0.5em;
          @include border-radius(0.25em);
          background-color: #aaa;
          color: #000;
          &:hover {
            background-color: #777;
            color: #fff;
          }
          &.active {
            @include box-shadow(inset 2px 2px 2px #555);
            background-color: #888;
            color: #fff;
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #666;

  p {
    margin: 0;
  }
}

.element-invisible {
  position: absolute;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

header h1 {
  margin: 0;
}

#container {
  background-color: #f9f9f9;
}

#main {
  padding: 0 10px;
}

table {
  border-spacing: 5px;
  border-collapse: separate;
}

th, td {
  text-align: left;
}

a {
  text-decoration: none;
  color: #3080ec;
  @include transition(color 0.4s);

  &:hover {
    color: #f33;
  }
}

h1 {
  font-size: 1.5rem;
}

h1 a {
  color: #000;
}

fieldset {
  margin: 1em 0;
  border: 2px dotted #ccc;
}

.disclaimer {
  background: #eee;
  color: #666;
  text-transform: uppercase;
  padding: 1em;
}

.button {
  display: inline-block;
  @extend .highlight;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  color: #000;
  border: 1px outset #ddd;
  @include border-radius(0.5em);
  background-color: #beb;
  text-decoration: none;
  @include transition(background-color 0.2s);
  @include box-shadow(2px 2px 4px #bbb);

  &:hover {
    color: #000;
    background-color: #bfb;
  }

  &:active {
    background-color: #3b3;
    @include box-shadow(1px 1px 1px #bbb);
  }
}

.field {
  padding: 0.5em;
}

table.passwords {
  margin: 1em 0;
  table-layout: fixed;
}

.password {
  input {
    @include box-sizing(border-box);
    min-width: 240px;
    background: #fff;
    padding: 0.25em 0.5em;
    border: 1px inset #ccc;
    @include border-radius(3px);
    word-wrap: break-word;

    &:hover {
      background: #ffd;
    }
  }
}

.description {
  font-size: 0.75rem;
  line-height: 1.33rem;
  color: #666;
}

.progress-bar {
  height: 2em;
  border: 2px solid #666;
  vertical-align: middle;

  .inner {
    height: 100%;
    background: #aaa;
  }
}

.not-ready {
  @include opacity(0.3);
  pointer-events: none;
}

.subheading {
  margin-top: 0;
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes flash {
  0% { background-color: #ff7; }
  100% { background-color: #f9f9f9; }
}

@keyframes flash {
  0% { background-color: #ff7; }
  100% { background-color: #f9f9f9; }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

// From: http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/
.ribbon {
  opacity: 0.8;
  background-color: #b40;
  overflow: hidden;
  /* top right corner */
  position: fixed;
  right: -3em;
  top: 2.5em;
  /* 45 deg cw rotation */
  @include rotate(45deg);
  /* shadow */
  @include box-shadow(0 0 1em #888);
  a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
    &:hover {
      text-shadow: 0 0 8em #fff;
    }
  }
}
