%div.disclaimer
  :markdown
    ## Disclaimer

    Information provided on this Web site is provided "as is" without warranty of any kind, either expressed or implied, including limitation warranties of merchantability, fitness for a particular purpose, and noninfringement.

    Joel Walters assumes no liability or responsibility for any errors or omissions in the content of this Web site. Your use of this Web site is at your own risk. Under no circumstances and under no legal theory shall Joel Walters or any other party involved in creating, producing, or delivering this Web site's contents be liable to you or any other person for any indirect, direct, special, incidental, or consequential damages arising from your access to, or use of, this Web site.