%p
  Joel's Password Generator
  &copy; 2013 Joel Walters
  = link_to 'License (MIT) and Disclaimer', 'LICENSE.html'
%p
  %em
    built with the
    %a(href='http://crypto.stanford.edu/sjcl/') Stanford Javascript Crypto Library